body{
    text-align: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(1, 18, 39);
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #time{
        color: aquamarine;
        text-shadow: 3px 3px 0px gainsboro;
        font-size: 100px;
    }
}
    
.vmargin{
    margin: .5rem 0;
}
.inputs{
    display: flex;
    justify-content: space-between;
}
.inputs .dd, .setAlarm{
    border-radius: 5px;
    margin: 0 10px;
    border: 1px solid #998;
    width: calc(100%/3-5px);
}

.dd select{
    outline: none;
    border: none;
    font-size: 19px;
    height: 30px;
    width: 100%;
}

.inputs .setAlarm button{
    background-color: rgb(202, 235, 17);
    height: 30px;
}

.allAlarms{
    width: 30%;
    max-height: 50%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.alarmRow{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin: 1rem 0;
    .arleft{
        color: aquamarine;;
    }
    .arright{
        color: rgb(147, 70, 219);
        background-color: transparent;  
        border: none;
        cursor: pointer;
    }

}
